    * {
        background-color: aquamarine;
    }

    .iconMenu{
        border: 2px solid rgb(179, 177, 177);
        height: 50px;
    }
    
    #imgPrincipal {
        text-align: center;
    }
    
    ul.horizontal li {
        display: flex;
        float: left;
        padding: 0 10px;
    }

    .menu{
        text-align: center;
    }

    .info{
        text-align: center;
        border: 1px solid rgb(179, 177, 177);
    }

    p{
        font-family: 'Shantell Sans', cursive;
    }

    .infoSec{
        margin: 10px;
        border: 20px 15px;
    }

    .horizontal{
        width: 95%;
        display: flex;
        justify-content: center;
    }

    .importante{
        font-size: 20px;
    }

    #masInfo{
        height: 100px;
        display: block;
        margin: auto;
    }